<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.find_job">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Find_Job"
        tools:targetApi="31">

        <!-- 🔐 Login is now the launcher (start screen) -->
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 🔑 Registration Page -->
        <activity android:name=".activities.RegisterActivity" />

        <!-- 🔑 Forgot Password Page -->
        <activity android:name=".activities.ForgotPasswordActivity" />

        <!-- 🏠 User Home / Main Navigation -->
        <activity android:name=".activities.MainActivity" />

        <!-- 🧑‍💼 Admin Dashboard -->
        <activity android:name=".activities.AdminDashboardActivity" />

        <!-- 📄 Job Detail Page -->
        <activity android:name=".activities.JobDetailActivity" />

        <!-- ✏️ Admin Create or Edit Job -->
        <activity android:name=".activities.CreateEditJobActivity" />

        <!-- 👤 Profile Page -->
        <activity android:name=".activities.ProfileActivity" />

    </application>

</manifest>
